@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6F5F2;
}
.container{
    position: relative;
    background-color: #F3D0D7;
    padding: 50px 20px;
    align-content: center;
    border-radius: 20px;
}
h5{
    text-align: center;
    padding-bottom: 30px;
    font-size: 20px;
}
button{
    color: #000;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    padding : 5px 9px;
    border-radius: 5px;
    border: none;
    background-color: #DAC0A3;
}
input{
    padding : 5px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    background-color: #F6F5F2;
}
p{
    padding-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}